.foto {
	height: 200px;
	width: 200px;
}

.jja{
	margin-left: 60px;
	margin-top: 50px;
}

.lala{
	font-size: 35px;
	text-align: center;
	margin-top: 30px;
}

@media (max-width: 300px){
	{
		display: flex;
		flex-flow: row wrap;
	}
}